.css_ifram
{
    width: 100%;
}
.css_arabic_img
{
    margin-top: 8px;
}
.css_alert
{
    color: #0a001f;text-align: center
}
.css_complete_data_a
{
    margin-top: -6px;
    color: #ffffff;
}
.css_my_parents_button
{
    margin-bottom: 18px;
}
.css_children_anchor{
    text-decoration: none;
    color: black;
}
.css_content_calendar_img_at_center
{
    text-align: center;
}


